body {
    width: 100vw;
    display: grid;
    grid-template-columns: 300px 4fr;
    overflow-x: hidden;
    background-color: #eeeeee;
}

#nav-bar {
    background-color: #eeeeee;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    margin-left: -10px;
}

#primer-elemento {
    margin-top: 61px;
}

#titulo h1 {
    position: fixed;
    height: 30px;
    background-color: #eeeeee;
    padding: 20px;
    width: 252px;
    margin-top: -10px;
}

h2 {
    color: #3333ff;
}

.nav-link {
    border: 1px solid #000000;
    display: block;
    padding: 30px;
    text-decoration: none;
}

.nav-link:hover {
    color: #00a013;
    text-decoration: underline;
}

#main-doc {
    background-color: #eeeeee;
    height: 100vh;
    overflow-y: scroll;
    overflow-wrap: break-word;
    padding: 10px 20px;
}